.audit {
    background-image: url("../img/audit_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1289px;

    h2 {
        font-family: 'Raleway', sans-serif;
        background: linear-gradient(60deg, #de6776 20%, #f98461 53%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-top: 50px;
        font-size: 115px;
        font-weight: 900;
        line-height: 34.276px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 205px;
        height: 112px;
    }

    h3 {
        font-size: 28px;
        font-weight: 900;
        margin-top: -36px;
        margin-left: 174px;
        text-transform: uppercase;
    }

    p {
        font-size: 21px;
        margin-bottom: 140px;
        font-weight: 300;
    }

    .audit_card_header {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 12px;
        box-shadow: 3px 3px 16px 0 rgba(0, 0, 0, 0.21);
        margin-bottom: 21px;
        height: 72px;
        padding-left: 38px;
        padding-right: 30px;


        a {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #000;
            text-decoration: none;
            font-size: 21.01px;
            font-weight: 700;
            height: 100%;
            width: 100%;
        }

        .card-icon {
            width: 28px;
            height: 17px;
            background-image: url("../img/services-open-icon.png");

            background-repeat: no-repeat;
            background-position: center center;
        }

    }

    .header-red {
        background-color: #eb3349;

        .card-icon {
            background-image: url("../img/services-close-icon-white.png");
        }

        a {
            color: #fff;
        }
    }

    .card-body {
        margin-bottom: 21px;
        padding: 30px 49px;
        border-radius: 12px;
        box-shadow: 3px 3px 16px 0 rgba(0, 0, 0, 0.21);
    }

    .list-group {
        &-item {
            border: none;
        }
    }

    .tab-content {
        .tab-pane {
            display: none;
        }

        .show {
            display: block;
        }
    }

    .btn {
        margin-top: 21px;
        margin-bottom: 180px;
    }

    .modal-dialog {
        max-width: 58vw;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-direction: column;

        .modal_bubble-top {
            position: relative;
            z-index: 999;
            margin-bottom: -180px;
            left: 29vw;
        }

        .modal_bubble-bottom {
            position: relative;
            z-index: 999;
            margin-top: -140px;
            right: 28vw;
        }

        .modal-content {
            background-image: url("../img/popup_bg.jpg");
            background-repeat: no-repeat;

            .modal-header {
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                flex-direction: column;
                border: none;

                h3 {
                    margin: 0 auto;
                    font-size: 36px;
                    text-align: center;
                    text-transform: none;
                    margin-bottom: 34px;
                }

                p {
                    margin: 0 auto;
                }
            }

            .modal-body {
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                flex-direction: column;

                input {
                    margin: auto;
                    border: none;
                    border-radius: 6px;
                    background-color: #f7f7f7;
                    width: 543px;
                    height: 72px;
                    margin-bottom: 24px;
                    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.18);
                    padding-left: 40px;
                }
            }

            .modal-footer {
                justify-content: center;
                border: none;

                .btn {
                    margin-bottom: 86px;
                }
            }
        }
    }
}
