.feedback {
    background-image: url(../img/feedback_bg.jpg);
    background-repeat: no-repeat;

    h2 {
        margin-top: 71px;
        color:  #f7f7f7;
        margin-bottom: 21px;
        font-size: 36px;
    }

    p {
        color: #f7f7f7;
        font-size: 21px;
        font-weight: 300;
        margin-bottom: 40px;
    }

    .btn {
        margin-bottom: 107px;
    }

    .modal-dialog {
        max-width: 50vw;
    }

    .modal-header .close {
        -webkit-appearence: none;
        border: none;

        span {
            font-size: 30px;
        }
    }
}
