.footer {

    background-color: #232323;
    min-height: 613px;
    padding-top: 99px;
    padding-bottom: 99px;
    color:  #f7f7f7;


    h3 {
        font-size: 28px;
        font-weight: 900;
        margin-bottom: 40px;
    }

    .adress {
        font-family: 'Montserrat', sans-serif;
        font-size: 28px;
    }

    a {
        text-decoration: none;
            color:  #f7f7f7;
            font-family: 'Montserrat', sans-serif;
            font-size: 28px;
    }

    h4 {
        font-size: 18px;
        font-weight: 900;
        margin-bottom: 20px;
        text-align: center;
    }

    h4:first-child {
        margin-top: 60px;
    }

    h4:last-child {
        margin-bottom: 50px;
    }

}
