@import "vars";
/*==========  Desktop First  ==========*/
// ≥1200px
@include media-breakpoint-down(lg) {
	.reasons {
		.carousel-control-prev {
			left: 0;

			&-icon {
				background-image: none;
			}
		}

		.carousel-control-next {
			right: 0;

			&-icon {
				background-image: none;
			}
		}
	}

	.audit .modal-dialog {
		max-width: 80vw;
	}

	.audit .modal-dialog .modal_bubble-top {
		left: 44vw;
	}

	.audit .modal-dialog .modal_bubble-bottom {
		right: 35vw;
	}
}
// ≥992px
@include media-breakpoint-down(md) {
	.principles .card {
		margin-top: 30px;
	}

	.audit .modal-dialog .modal_bubble-top {
		display: none;
	}

	.audit .modal-dialog .modal_bubble-bottom {
		display: none;
	}

	.audit .modal-dialog {
		max-width: 80vw;
	}

	.footer {
		h4 {
			text-align: center;
		}

		.col-lg-4 {
			text-align: center;
		}

		.col-lg-3 {
			text-align: center;
		}

		.col-lg-6 {
			text-align: center;
			margin-top: 40px;
		}
	}
}
// ≥768px
@include media-breakpoint-down(sm) {
	.btn {
		width: 360px;
	}

	.cases_left {
		h2 {
			font-size: 72px;
			margin-top: 50px;
		}

		h3 {
			margin-top: 0;
			margin-left: 0;
		}

		h5 {
			width: 100vw;
		}
	}

	.cases_right {
		height: 550px;
	}

	.services {
		height: auto;

		h2 {
			font-size: 72px;
			margin-top: 50px;
			-webkit-text-fill-color: #000;
		}

		h3 {
			margin-top: 0;
			margin-left: 0;
		}

		.services_rigth {
			margin-top: 111px;
			margin-bottom: 164px;
			padding: 40px;
			-webkit-box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.21);
			box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.21);
		}

		.tab-content .tab-pane {
			img {
				top: 9px;
				right: 0;
				height: 150px;
				width: 150px;
			}

			form {
				height: 450px;
			}

			.btn {
				bottom: 120px;
				width: 280px;

				&:after,
				&:before {
					display: none;
				}
			}
		}
	}

	.audit {
		h2 {
			font-size: 65px;
			margin-top: 150px;
		}

		h3 {
			margin-top: 0;
			margin-left: 0;
		}

		p {
			margin-bottom: 60px;
		}

		.btn {
			margin-left: 4vw;
		}

		.col-lg-5 {
			display: none;
		}
	}

	.reasons {
		.container {
			background-image: none;
		}

		h2 {
			font-size: 72px;
			margin-top: 50px;
		}

		h3 {
			margin-top: 0;
			margin-left: 0;
		}

		.carousel-caption {
			bottom: 22px;
			right: 26%;
			left: 8%;

			p {
				font-size: 14px;
			}
		}

		.carousel-description {
			height: 270px;
			margin-top: 5px;
		}
	}

	.principles {
		margin-bottom: 75px;

		h3 {
			margin: auto;
		}

		.card {
			margin-top: 30px;
		}
	}

	.footer {
		h3 {
			font-size: 26px;
		}

		.adress {
			font-size: 22px;
		}

		h4 {
			text-align: center;
		}

		.col-lg-4 {
			text-align: center;
		}

		.col-lg-3 {
			text-align: center;
		}

		.col-lg-6 {
			text-align: center;
			margin-top: 40px;
		}
	}

	.download_price form {
		margin-bottom: 10px;
	}
}
// ≥576px
@include media-breakpoint-down(xs) {
	.btn {
		width: 284px;
	}

	.header h1 {
		font-size: 21px;
	}

	.header p {
		font-size: 20px;
		line-height: 28px;
	}

	.cases .card-body {
		padding-left: 0;
	}

	.cases_right .media {
		margin-left: 10px;
	}

	.services h2 {
		font-size: 54px;
	}

	.services .tab-content .tab-pane fieldset p {
		font-size: 15px;
		font-weight: 400;
		margin: 110px auto auto;
		width: 183px;
		text-align: center;
		margin-bottom: 137px;
	}

	.audit h2 {
		font-size: 50px;
		margin-top: 20px;
		-webkit-text-fill-color: #000;
	}

	.audit .modal-dialog .modal-content .modal-header h3 {
		font-size: 17px;
	}

	.audit p {
		font-size: 15px;
	}

	.audit .modal-dialog .modal-content .modal-body input {
		border-radius: 6px;
		background-color: #f7f7f7;
		width: 90%;
		height: 72px;
		margin-bottom: 24px;
	}

	.audit .modal-dialog {
		max-width: 95vw;
	}

	.audit .modal-dialog .modal-content .modal-body input {
		-webkit-border-radius: 6px;
		border-radius: 6px;
		background-color: #f7f7f7;
		width: 90%;
		height: 50px;
		margin-bottom: 10px;
	}

	.audit .modal-dialog .modal-content .modal-footer .btn {
		margin-bottom: 50px;
	}

	.reasons {
		h2 {
			font-size: 50px;
			margin-top: 20px;
			-webkit-text-fill-color: #000;
		}

		.carousel-caption p {
			font-size: 9px;
		}

		.carousel-description .calltoaction {
			width: 220px;
			font-size: 9px;
		}

		.carousel-description .other_studio {
			margin-top: 4px;
			color: #eb3349;
			text-decoration: underline;
			font-size: 16px;
		}
	}

	.feedback p {
		font-size: 14px;
		font-weight: 300;
		margin-bottom: 40px;
	}

	.feedback .btn {
		margin-bottom: 83px;
	}
}
/*==========  Mobile First  ==========*/
// ≤576px
@include media-breakpoint-up(sm) {}
// ≤768px
@include media-breakpoint-up(md) {}
// ≤992px
@include media-breakpoint-up(lg) {}
// ≤1200px
@include media-breakpoint-up(xl) {}
