.presentation {
    background-image: url(../img/presentation_bg.jpg);
    p {
        color: #f7f7f7;
        font-size: 24px;
        font-weight: 500;
        margin-top: 100px;
        margin-bottom: 46px;
    }

    .btn {
        margin-bottom: 114px;
    }
}
