div#container
{
   width: 736px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #F5F5F5;
   color: #000000;
   font-family: Roboto;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #0000FF;
   text-decoration: none;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_страница3Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_страница3Text1 div
{
   text-align: center;
}
#wb_uid1
{
   color: #1E1E1E;
   font-family: Roboto;
   font-size: 16px;
}
#wb_uid2
{
   position: absolute;
   left: -9999px;
}
#wb_страница3Text1
{
   position: absolute;
   left: 120px;
   top: 223px;
   width: 496px;
   height: 21px;
   text-align: center;
}
#wb_uid3
{
   position: absolute;
   left: -10000px;
}
#wb_Text3
{
   position: absolute;
   left: 107px;
   top: 159px;
   width: 522px;
   height: 38px;
   text-align: center;
}
#768139;js=na
{
   border: 0;
}
#wb_uid0
{
   color: #004A77;
   font-family: Roboto;
   font-size: 32px;
}
