html, body
{
   height: 100%;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -210px;
   float:left
}
div#container
{
   width: 400px;
   height: 420px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
body
{
   background-color: #666666;
   color: #000000;
   font-family: Roboto;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: none;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
#wb_Form1
{
   background-color: transparent;
   background-image: url(../images/form_bg.png);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px #000000 solid;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#Editbox4
{
   border: 2px #D3D3D3 solid;
   background-color: #FFFFFF;
   background-image: none;
   color :#2F4F4F;
   font-family: Roboto;
   font-weight: normal;
   font-size: 19px;
   padding: 0px 0px 0px 0px;
   text-align: left;
   vertical-align: middle;
}
#Editbox4:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#Editbox1
{
   border: 2px #D3D3D3 solid;
   background-color: #FFFFFF;
   background-image: none;
   color :#2F4F4F;
   font-family: Roboto;
   font-weight: normal;
   font-size: 19px;
   padding: 0px 0px 0px 0px;
   text-align: left;
   vertical-align: middle;
}
#Editbox1:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_callbackText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_callbackText1 div
{
   text-align: left;
}
#wb_callbackText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_callbackText2 div
{
   text-align: left;
}
#indexImage32
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage31
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText37 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText37 div
{
   text-align: center;
}
#indexjQueryButton6
{
   font-family: "Trebuchet MS";
   font-weight: bold;
   font-size: 24px;
   font-style: normal;
   opacity: 0.00;
}
#indexjQueryButton6 .ui-button
{
   position: absolute;
   padding: 0;
}
#indexjQueryButton6.ui-corner-all
{
   -webkit-border-bottom-left-radius: 0px;
   -moz-border-bottom-left-radius: 0px;
   border-bottom-left-radius: 0px;
   -webkit-border-top-left-radius: 0px;
   -moz-border-top-left-radius: 0px;
   border-top-left-radius: 0px;
}
#indexjQueryButton6.ui-corner-all
{
   -webkit-border-bottom-right-radius: 0px;
   -moz-border-bottom-right-radius: 0px;
   border-bottom-right-radius: 0px;
   -webkit-border-top-right-radius: 0px;
   -moz-border-top-right-radius: 0px;
   border-top-right-radius: 0px;
}
#wb_callbackText2
{
   position: absolute;
   left: 22px;
   top: 252px;
   width: 49px;
   height: 21px;
   z-index: 5;
}
#Editbox1
{
   position: absolute;
   left: 71px;
   top: 241px;
   width: 279px;
   height: 36px;
   line-height: 36px;
   z-index: 3;
}
#wb_uid1
{
   color: #1E1E1E;
   font-family: Roboto;
   font-size: 16px;
}
#wb_uid2
{
   color: #000000;
   font-family: Roboto;
   font-size: 16px;
}
#wb_uid3
{
   color: #000000;
   font-family: Roboto;
   font-size: 16px;
}
#wb_Text2
{
   position: absolute;
   left: 0px;
   top: 45px;
   width: 400px;
   height: 88px;
   text-align: center;
   z-index: 0;
}
#wb_uid4
{
   color: #FFFFFF;
   font-family: Roboto;
   font-size: 19px;
}
#wb_Text3
{
   position: absolute;
   left: 35px;
   top: 136px;
   width: 343px;
   height: 42px;
   text-align: center;
   z-index: 2;
}
#Editbox4
{
   position: absolute;
   left: 71px;
   top: 186px;
   width: 279px;
   height: 36px;
   line-height: 36px;
   z-index: 1;
}
#wb_uid5
{
   position: absolute;
   left: -9999px;
}
#wb_uid6
{
   position: absolute;
   left: -10000px;
}
#indexjQueryButton6
{
   position: absolute;
   left: 23px;
   top: 310px;
   width: 353px;
   height: 63px;
   z-index: 9;
}
#wb_indexImage31
{
   position: absolute;
   left: 23px;
   top: 315px;
   width: 355px;
   height: 58px;
   z-index: 7;
}
#wb_indexImage32
{
   position: absolute;
   left: 23px;
   top: 315px;
   width: 354px;
   height: 58px;
   z-index: 6;
}
#wb_Form1
{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 400px;
   height: 420px;
   z-index: 10;
}
#768139;js=na
{
   border: 0;
}
#wb_indexText37
{
   position: absolute;
   left: 29px;
   top: 331px;
   width: 347px;
   height: 23px;
   text-align: center;
   z-index: 8;
}
#wb_callbackText1
{
   position: absolute;
   left: 22px;
   top: 197px;
   width: 49px;
   height: 21px;
   z-index: 4;
}
#wb_uid0
{
   color: #004A77;
   font-family: Roboto;
   font-size: 37px;
}
