html, body
{
   height: 100%;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -242px;
   float:left
}
div#container
{
   width: 425px;
   height: 485px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
body
{
   background-color: #666666;
   color: #000000;
   font-family: Roboto;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: none;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
#wb_Form1
{
   background-color: transparent;
   background-image: url(../images/form_bg.png);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px #000000 solid;
}
#indexImage32
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#Editbox4
{
   border: 2px #D3D3D3 solid;
   background-color: #FFFFFF;
   background-image: none;
   color :#2F4F4F;
   font-family: Roboto;
   font-weight: normal;
   font-size: 19px;
   padding: 0px 0px 0px 0px;
   text-align: left;
   vertical-align: middle;
}
#Editbox4:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Editbox1
{
   border: 2px #D3D3D3 solid;
   background-color: #FFFFFF;
   background-image: none;
   color :#2F4F4F;
   font-family: Roboto;
   font-weight: normal;
   font-size: 19px;
   padding: 0px 0px 0px 0px;
   text-align: left;
   vertical-align: middle;
}
#Editbox1:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_callbackText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_callbackText1 div
{
   text-align: left;
}
#wb_callbackText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_callbackText2 div
{
   text-align: left;
}
#indexImage31
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_voprosText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_voprosText1 div
{
   text-align: right;
}
#TextArea1
{
   border: 2px #D3D3D3 solid;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Roboto;
   font-weight: normal;
   font-size: 19px;
   text-align: left;
   overflow: auto;
   resize: none;
}
#TextArea1:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_indexText37 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText37 div
{
   text-align: center;
}
#indexjQueryButton6
{
   font-family: "Trebuchet MS";
   font-weight: bold;
   font-size: 24px;
   font-style: normal;
   opacity: 0.00;
}
#indexjQueryButton6 .ui-button
{
   position: absolute;
   padding: 0;
}
#indexjQueryButton6.ui-corner-all
{
   -webkit-border-bottom-left-radius: 0px;
   -moz-border-bottom-left-radius: 0px;
   border-bottom-left-radius: 0px;
   -webkit-border-top-left-radius: 0px;
   -moz-border-top-left-radius: 0px;
   border-top-left-radius: 0px;
}
#indexjQueryButton6.ui-corner-all
{
   -webkit-border-bottom-right-radius: 0px;
   -moz-border-bottom-right-radius: 0px;
   border-bottom-right-radius: 0px;
   -webkit-border-top-right-radius: 0px;
   -moz-border-top-right-radius: 0px;
   border-top-right-radius: 0px;
}
#wb_uid1
{
   color: #000000;
   font-family: Roboto;
   font-size: 16px;
}
#wb_callbackText2
{
   position: absolute;
   left: 30px;
   top: 185px;
   width: 49px;
   height: 21px;
   z-index: 3;
}
#Editbox1
{
   position: absolute;
   left: 77px;
   top: 174px;
   width: 279px;
   height: 36px;
   line-height: 36px;
   z-index: 1;
}
#wb_Text1
{
   position: absolute;
   left: 20px;
   top: 67px;
   width: 361px;
   height: 42px;
   text-align: center;
   z-index: 5;
}
#wb_uid2
{
   color: #004A77;
   font-family: Roboto;
   font-size: 32px;
}
#wb_uid3
{
   color: #1E1E1E;
   font-family: Roboto;
   font-size: 16px;
}
#wb_Text2
{
   position: absolute;
   left: 2px;
   top: 21px;
   width: 392px;
   height: 38px;
   text-align: center;
   z-index: 4;
}
#wb_uid4
{
   color: #000000;
   font-family: Roboto;
   font-size: 16px;
}
#wb_voprosText1
{
   position: absolute;
   left: 0px;
   top: 228px;
   width: 66px;
   height: 42px;
   text-align: right;
   z-index: 6;
}
#Editbox4
{
   position: absolute;
   left: 77px;
   top: 116px;
   width: 279px;
   height: 36px;
   line-height: 36px;
   z-index: 0;
}
#wb_uid5
{
   color: #FFFFFF;
   font-family: Roboto;
   font-size: 19px;
}
#wb_uid6
{
   position: absolute;
   left: -9999px;
}
#wb_uid7
{
   position: absolute;
   left: -10000px;
}
#indexjQueryButton6
{
   position: absolute;
   left: 37px;
   top: 377px;
   width: 357px;
   height: 63px;
   z-index: 11;
}
#TextArea1
{
   position: absolute;
   left: 77px;
   top: 228px;
   width: 279px;
   height: 122px;
   z-index: 7;
}
#wb_indexImage31
{
   position: absolute;
   left: 37px;
   top: 381px;
   width: 354px;
   height: 58px;
   z-index: 9;
}
#wb_indexImage32
{
   position: absolute;
   left: 37px;
   top: 381px;
   width: 354px;
   height: 58px;
   z-index: 8;
}
#wb_Form1
{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 425px;
   height: 485px;
   z-index: 12;
}
#768139;js=na
{
   border: 0;
}
#wb_indexText37
{
   position: absolute;
   left: 41px;
   top: 397px;
   width: 347px;
   height: 23px;
   text-align: center;
   z-index: 10;
}
#wb_uid0
{
   color: #000000;
   font-family: Roboto;
   font-size: 16px;
}
#wb_callbackText1
{
   position: absolute;
   left: 30px;
   top: 127px;
   width: 49px;
   height: 21px;
   z-index: 2;
}
