.header {
    background-image: url("../img/header_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;

    .logo {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        margin-top: 177px;
        margin-bottom: 44px;
    }

    p {
        font-size: 30px;
        line-height: 42px;
        font-weight: 400;
        letter-spacing: 0.025em;
        text-align: center;
        margin-bottom: 48px;
    }

    .header_icons {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 35%;
        margin: auto;
    }

    .header_icon {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-direction: column;
        width: 148px;
        padding: 13px;


        &:hover {
            background-image: url('../img/header_icon-active.png');
            background-repeat: no-repeat;
            background-position: top center;
            transition: 4s;
            cursor: pointer;
        }

        p {
            font-family: 'Montserrat', sans-serif;
            font-size: 13.99px;
            font-weight: 900;
            line-height: 25px;
            text-align: center;
            margin-top: 19px;
            margin-bottom: 35px;
        }
    }

    form {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;


    }

    .results {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 67px;

        p {
            margin-bottom: 21px;
            font-size: 16px;
            font-weight: 700;
        }

    }
}
